body
{
    font-family: sans-serif;
    background: #222;
    color: #eee;
    padding: 20px;
}


#homecontent
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
    margin: 50px auto 0 auto;
    width: 50%;
}



a
{
    color: #444;
    text-decoration: none;
}

.button
{
    margin: 5px;
    padding: 10px;
    background: #444;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button:disabled
{
    background: #44444452;
    color: #666;
}

.button:hover
{
    background: #666;
}

.button:disabled:hover
{
    background: #44444452;
}

.stats-container
{
    display: flex;
    gap: 20px;
}

.section
{
    flex: 1;
    margin-bottom: 20px;
    padding: 10px;
    background: #333;
    border-radius: 10px;
}

#buildingsinfo.panel
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

nav
{
    background-color: #333;
    padding: 1em 0;
    position: fixed;
    top: 0;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    border-radius: 8px;
}

nav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li
{
    margin: 0 20px;
}

nav ul li a
{
    color: white;
    text-decoration: none;
    font-size: 18px;
}